body {
  margin:0 auto;
  font-family: helvetica-light;
  font-size:14pt;
}

div#container {
  padding:2em;
}

div.info {
  margin-top:1em;
  line-height:1.4em;
}

div.code {
  margin-top:1em;
}

div.links {
  margin-top: 1em;
}

div.images {
  position:absolute;
  top:8em;
  margin-left:21.7em;
  width:30em;
}

div.images.design {
  position:absolute;
  top:8em;
  margin-left:16.7em;
  width:30em;
}

.img {
  width:15em;
}

.d-img {
  width:20em;
}

.nav-list {
  position:absolute;
  font-size:.8em;
  top:-1em;
  left:17.5em;
  width:20em;
  line-height:1.3em;
}

.nav-list.design {
  position:absolute;
  font-size:.8em;
  top:-1em;
  left:23.7em;
  width:20em;
  line-height:1.3em;
}

.nav-code {
  font-size:.9em;
  line-height:1.4em;
  padding-left:.6em;
}

li.nav {
  font-size: 1.5em;
}

li.dbc {
  line-height:1.1em;
  margin-bottom:.2em;
}

li {
  list-style: none;
}

a:link {
  text-decoration:none;
  font-size:1em;
  background:#f9fc7e;
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color:black;
  background:white;
}

a.bottom-link {
  font-family:monaco, courier;
  font-size:.7em;
}

span.bottom {
  font-family:monaco, courier;
  font-size:.7em;
}

a.active {
  background:white;
  cursor:default;
}

a.actived {
  background:white;
}

div.contact {
  position:absolute;
  font-size: .8em;
  bottom:3em;
  left:1.6em;
  background: white;
  padding:1em;
}

.footer {
  padding:0 0 1em 0;
  position:fixed;
  width:100%;
  background: white;
  bottom:0;
}

.foot-nav > li {
  float:left;
  margin-right: 2em;
}

.hidden {
  display:none;
}
