@media (min-width: 550px) {
    .column, .columns {
        margin-left: 1%;
    }

    .six.columns {
        width: 49.5%;
    }

    .four.columns {
        width: 32.6666666667%;
    }
}

@media (max-width: 900px) {
    /* helpers */
    .sm-py75 {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    /* end helpers */

    /* font */
    .big {
        font-size: 4rem;
        line-height: 1.4;
        font-weight: 700;
    }

    .medium {
        font-size: 2.5rem;
        line-height: 1.5;
    }

    .small {
        font-size: 2rem;
        line-height: 1.6;
    }

    .smaller {
        font-size: 1.5rem;
        line-height: 1.6;
    }
    /* end font */

    /* sections */
    #intro {
        padding-top: 125px;
        padding-bottom: 75px;
    }
    /* end sections */

    .circle {
        &:hover {
            cursor: pointer;
            background-color: #333;
        }
    }

    .next {
        display: none;
    }

    .top {
        display: none;
    }

    .sm-hide {
        display: none;
    }
}